* {
  margin: 0;
  padding: 0;
}

.searchMenu {
  width: 100%;
  height: 160px;
  position: fixed;
  padding-bottom: 10px;
  background: #fff;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchMenu .logo {
  width: 40%;
  height: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchMenu .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.searchMenu .hamburger {
  width: 10%;
  height: 20%;
  z-index: 4;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchMenu::after {
  content: "";
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #bb50bb, pink, red, orange, blue, purple);
  display: block;
  position: absolute;
  bottom: 0;
}

.menuMovile {
  width: 75%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #bb50bb, pink);
  z-index: 3;
  transform: translateX(-1000px);
  transition: all linear 0.3s;
}
.menuMovile .link {
  width: 50%;
  margin: auto;
  margin-top: 30px;
  text-decoration: none;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  display: flex;
  align-items: center;
  padding: 20px;
}
.menuMovile .link p {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-family: sans-serif;
  text-decoration: none;
}

.main {
  padding-top: 90px;
  width: 100%;
  margin: auto;
  z-index: 3;
}
.main .sliderContainer {
  width: 100%;
  height: 300px;
  overflow-x: hidden;
  position: relative;
}
.main .sliderContainer .sliderControls {
  position: absolute;
  top: 45%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .sliderContainer .sliderControls .prev, .main .sliderContainer .sliderControls .next {
  font-size: 18px;
  color: #fff;
  background: linear-gradient(to right, #bb50bb, orange);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .sliderContainer .slider {
  width: 100%;
  height: 100%;
  min-width: 100%;
  display: flex;
}
.main .sliderContainer .slider .slide {
  width: 100%;
  height: 100%;
  min-width: 100%;
}
.main .sliderContainer .slider .slide img {
  width: 100%;
  height: 100%;
  min-width: 100%;
}
.main .title {
  width: 90%;
  margin: auto;
  font-size: 16px;
  text-align: center;
  font-family: sans-serif;
  color: #bb50bb;
  background: linear-gradient(to left, #bb50bb, pink, red, orange, blue, purple);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
}
.main .text {
  font-size: 15px;
  font-family: sans-serif;
  text-align: justify;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.main .arrowDown {
  font-size: 25px;
  margin-top: 10px;
}
.main .objectives {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .objectives .title {
  font-size: 25px;
}
.main .mision, .main .vision {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .vision {
  margin-top: 20px;
}

.values {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.values .valueList {
  margin-left: 60px;
}
.values .valueList li {
  font-size: 16px;
  font-family: sans-serif;
  list-style-image: url(../IMG/listIMG.png);
}
.values .title {
  margin-top: 20px;
}
.values .arrowDown {
  margin-bottom: 10px;
}

.emailAutho {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emailAutho .text {
  margin-bottom: 20px;
}
.emailAutho .arrowDown {
  margin-bottom: 20px;
}

.searchPc {
  display: none;
}

.menuMovile.active {
  transform: translateX(0px);
}

.links.active {
  display: flex;
  transform: translateX(0px);
}

.overlay.active {
  display: block;
}

.overlay {
  width: 0%;
  height: 100%;
  position: fixed;
  top: 90px;
  left: 0;
  background: transparent;
  z-index: 1;
  display: block;
}

@media screen and (min-width: 768px) {
  .menuMovile {
    display: none;
  }

  .overlay {
    display: none;
  }

  .hamburger, .hamburger--elastic, .hamburger-box, .hamburger--inner {
    transform: translateY(-1000%);
  }

  .searchPc {
    display: block;
    width: 60%;
    height: 100%;
  }
  .searchPc .linksPc {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .searchPc .linksPc a {
    color: #bb50bb;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    position: relative;
  }
  .searchPc .linksPc a:hover::after {
    width: 100%;
  }
  .searchPc .linksPc a::after {
    content: "";
    width: 0%;
    height: 3.5px;
    background-color: #bb50bb;
    position: absolute;
    bottom: 0;
    display: block;
    transition: all linear 0.2s;
  }

  .searchMenu {
    height: 110px;
  }

  .logo {
    height: 5%;
    width: 30%;
  }
  .logo img {
    height: 100%;
    object-fit: contain;
  }

  .main .title {
    font-size: 20px;
  }
  .main .text {
    font-size: 18px;
  }

  .content {
    width: 60%;
    margin: auto;
  }

  .sliderContainer {
    height: 100%;
  }
  .sliderContainer img {
    object-fit: cover;
  }

  .next, .prev {
    cursor: pointer;
    transition: all ease 0.6s;
  }
  .next:hover, .prev:hover {
    opacity: 0.8;
  }
}

/*# sourceMappingURL=home.css.map */
