
* {
  margin: 0;
  padding: 0;
}

$mainColor: rgb(187, 80, 187);


.searchMenu {
  width: 100%;
  height: 160px;
  position: fixed;
  padding-bottom: 10px;
  background: #fff;
  z-index: 2;


  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 40%;
    height: 100%;
    margin-left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

  }

  .hamburger {
    width: 10%;
    height: 20%;
    z-index: 4;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

}


.searchMenu::after {
  content: "";
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, $mainColor, pink, red, orange, blue, purple);
  display: block;
  position: absolute;
  bottom: 0;
}

// Menu movile

.menuMovile {
  width: 75%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background:linear-gradient(to bottom, $mainColor, pink);
  z-index: 3;

 transform: translateX(-1000px);
 transition: all linear 0.3s; 
  
  .link {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    text-decoration: none;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;

    display: flex;
    align-items: center;

    padding: 20px;
    
    p {
      font-size: 16px;
      color: #fff;
      font-weight: bold;
      text-decoration: none;
      font-family: sans-serif;
      text-decoration: none;
    }

  }

}
 
// Main

.main {
  padding-top: 160px;
  width: 100%;
  margin: auto;
  z-index: 3;

  // Banner

  .bannerContainer {
    height: 300px;
    width: 100%;

    .banner {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

}
// Title - text css
  
  .title {
    width: 90%;
    margin: auto;
    font-size: 16px;
    text-align: center;
    font-family: sans-serif;
    color: $mainColor;
    background: linear-gradient(to left, $mainColor, pink, red, orange, blue, purple);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;

    display: flex;
    justify-content: center;
  }

  .text {
    font-size: 15px;
    font-family: sans-serif;
    text-align: justify;
    width: 90%;
    margin: auto;

    display: flex;
    justify-content: center;
  }

  
  .arrowDown {
    font-size: 25px;
    margin-top: 10px;
  }
  // Objectives 

  .objectives {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 25px;
    }

  }
  



  // Mision - Vision

  .mision, .vision{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .vision {
    margin-top: 20px;
  }



// values

.values {
  display: flex;
  flex-direction: column;
  align-items: center;

  .valueList {

    margin-left: 60px;

    li {
      font-size: 16px;
      font-family: sans-serif;
      list-style-image: url(../IMG/listIMG.png);
    }
  }

  .title {
    margin-top: 20px;
  }

  .arrowDown {
    margin-bottom: 10px;
  }

}


// Email autho

.emailAutho {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
      margin-bottom: 20px;
    }

    .arrowDown {
      margin-bottom: 20px;
    }

}

// Pc search bar

.searchPc {
  display: none;
}

// Classes

.menuMovile.active {
  transform: translateX(0px);
}

.links.active {
  display: flex;
  transform: translateX(0px);
}

.overlay.active {
  display: block;
}


// Overlay

.overlay {
  width: 0%;
  height: 100%;
  position: fixed;
  top: 90px;
  left: 0;
  background: transparent;
  z-index: 1;
  display: block;
}

//  Media queries

@media screen and (min-width: 768px) {
  // Disabled items
  
  .menuMovile {
    display: none;
  }

  .overlay {
    display: none;
  }

  .hamburger, .hamburger--elastic, .hamburger-box, .hamburger--inner {
    transform: translateY(-1000%);
  }

  // Search PC

  .searchPc {
    display: block;
    width: 60%;
    height: 100%;

    .linksPc {
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        color: $mainColor;
        font-family: sans-serif;
        font-size: 20px;
        text-decoration: none;
        position: relative;
      }

      a:hover::after {
        width: 100%;
      }
      
      a::after {
        content: "";
        width: 0%;
        height: 3.5px;
        background-color: $mainColor;
        position: absolute;
        bottom: 0;
        display: block;
        transition: all linear 0.2s;
      }


    } 



  }

  // search bar

  .searchMenu {
    height: 140px;
  }

  // Logo 

  .logo {
    height: 5%;
    width: 30%;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  // Main 
  .main {
    padding-top: 140px;
    .title {
      font-size: 20px;
    }

    .text {
      font-size: 18px;
    }

    .bannerContainer {

      height: 90vh;

      .banner {
        img {

          background-attachment: fixed;
        }
      }
    }


  }
  // Content

  .content {
    width: 60%;
    margin: auto;
  }



  // slider controls

  .next, .prev {
    cursor: pointer;
    transition: all ease 0.6s;

    &:hover {
      opacity: 0.8;
    }

  }

}