@import url(../../../../CSS/home.css);

.returnText {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  background: linear-gradient(to left, #bb50bb, pink, red, orange, blue, purple);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  width: 100%;
  height: 30px;

  a {
    font-family: sans-serif;
    font-size: 22px;
    text-decoration: none;
  }

}

// Floating buttons

// Float buttons

.floatButtons {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 50%;


  .whatsapp, .facebook, .instagram {
    background: #25D366;
    width: 50px;
    height: 50px;
    text-decoration: none;
    transition: all ease 0.5s;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    
    i {
      font-size: 25px;
      color: #fff;
    }
    


  }

  .whatsapp:hover {
      background: #2abd60;
  }
  .facebook {
    background: #3b5998;
  }
  
  .facebook:hover {
    background: #385083;

  }
  
  .instagram {
     background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);;
    }
    
    .instagram:hover {
      background:linear-gradient(45deg, #4159d3, #5851cc, #753a9c, #a53474, #cc3366, #e72525);;
      
  }

}
 

// main

.main {
  overflow-x: hidden;

  .title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

}

// Sliders -----------------------------------

// Decoration

.decorations, .ambientation, .floral, .musical, .ancheta, .regalo, .desayuno, .almuerzo, .picnic, .jewelery, .marroquineria{
  width: 100%;
  height: 300px;
  margin: auto;
  position: relative;

  .slider {
    width: 100%;
    height: 100%;

    display: flex;

    .slide {
      width: 100%;
      height: 100%;
      min-width: 100%;
  

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }

  }

  .controls {
    position: absolute;
    width: 100%;
    top: 48%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .next, .prev {
      color: #fff;
      font-size: 20px;
      width: 40px;
      height: 40px;
      background: orange;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

}

// media queries

@media screen and (min-width: 768px) {
  .slider {
    width: 30%;
    max-width: 30%;
    min-width: 30%;
    
    .slide {
      margin-right: 20px;
    }
  }
}